{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>this is not a valid page request(404)</h1>
        <p>GO to home page</p>
    </div>
{% endblock content %}